*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}

.container{
  max-width: 1200px;
  width: 90%;
  margin: auto;
  text-align: center;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pages-nav{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}  
.logo{
  font-size: 2rem;
}

.main-nav{
  padding:20px;
}
.pages-nav li{
  padding-left: 20px;
}
.header, .footer {
  height: 10vh;
  background-color:#d1bf37;
  color: #fff;
  font-weight: bold;
}
.table{
  height: 42vh;
  background-color: #fff;
  width:50vw;
  margin: 50px auto 170px;
}
h1{
  padding: 20px;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

thead{
  background-color: #d1bf37;
  color: #fff;
}
table{
  font-size: 1rem;
  text-align: left;
}
tr:nth-child(even){
  background-color:rgb(249, 246, 233);
}

td,th{
  padding: 10px 50px 10px 10px ;
}
.main{
  display: flex;
  justify-content: center;
}
.body{
  background-color:rgb(249, 246, 233);
}
